/* Center whole app area like first UI */
.app-container {
  width: 70%;
  margin: 40px auto;     /* Moves app down + centers it */
  background: #ffffff;
  padding: 20px;
}

/* Heading spacing */
header {
  margin-bottom: 20px;
}

/* Task input row styling */
.task-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

/* Input */
.task-form input {
  flex: 1;
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* "Add Task" button */
.task-form button {
  padding: 10px 15px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
}

/* Dropdowns styled & aligned */
#btns select {
  padding: 8px;
  border-radius: 5px;
  margin-left: 10px;
}

/* ---------------- TASK LIST ------------------ */
.task-list li.completed{
    text-decoration:line-through;
    opacity:0.7;
  list-style: none;
  padding: 0;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items:center;
  gap:8px;
  padding: 12px;
  border-bottom: 1px solid #efefef;
  border-radius:8px;
  font-size: 14px;
}

/* Buttons for Complete + Delete */
.task-list button {
  background: none;
  border: 0;
  font-size: 14px;
  color:green;
  cursor: pointer;
  border-radius:6px;
  padding :6px 8px;
}

.task-list button:nth-child(1) { color: green; font-weight: 500; }
.task-list button:nth-child(2) { color: red;   margin-left: 10px; }

/* ---------------- PROGRESS BAR ------------------ */
.progress-tracker {
  margin-top: 20px;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: #e6e6e6;
  border-radius: 10px;
  margin-top: 10px;
}

.progress {
  height: 100%;
  background: #1fa83d;
  width: 0%;
  transition: width 0.3s linear;
}

/* Clear All Button */
.clear {
  background: red;       /* Red */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

.clear:hover {
  background: #c0392b;      /* Darker red on hover */
}
* {
  font-family: "Times New Roman", Times, serif;
}
input, button, select {
  font-family: "Times New Roman", Times, serif;
}
h1, h2, h3, h4, h5 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
